openapi: 3.0.0
x-stoplight:
  id: yu7gslmw7p8dt
info:
  description: "All operations not tagged 'free' require an active [Ultimate](https://builtbybit.com/account/ultimate) subscription or invite-only permissions.\r\n\r\nV2 documentation: https://builtbybit.com/wiki/api-v2/ \\\r\nOAuth2 documentation: https://builtbybit.com/wiki/oauth2/"
  version: v2
  title: BuiltByBit API
  termsOfService: 'https://builtbybit.com/wiki/terms'
  contact:
    url: 'https://builtbybit.com/ticket'
    name: BuiltByBit
servers:
  - description: BuiltByBit
    url: 'https://api.builtbybit.com/'
tags:
  - name: analytics
  - name: events
  - name: free
  - name: health
  - name: oauth2
  - name: resources/buyer
  - name: resources/creator
  - name: resources/discovery
paths:
  /oauth2/token:
    post:
      summary: Request an access token using an existing grant
      tags:
        - oauth2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    x-stoplight:
                      id: zsjt9ii4bl4p4
                  expires_in:
                    type: integer
                    x-stoplight:
                      id: w9gxdiz9y15yk
                  refresh_token:
                    type: string
                    x-stoplight:
                      id: c6b0c5o05iuva
                  scope:
                    type: string
                    x-stoplight:
                      id: th4bm8n8ri8yv
                  token_type:
                    type: string
                    x-stoplight:
                      id: 45ci7b7ac94e0
      operationId: get-oauth2-token
      x-stoplight:
        id: e2kos61m784xx
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  x-stoplight:
                    id: fel1kseew6q2q
                  example: authorization_code
                code:
                  type: string
                  x-stoplight:
                    id: k4hmw14e1sycl
                  description: Required if grant_type = `authorization_code`.
                refresh_token:
                  type: string
                  x-stoplight:
                    id: x37pvqrf2ewd8
                  description: Required if grant_type = `refresh_token`.
      description: "Supported grant types: `authorization_code`, and `refresh_token`.\r\nMust authenticate via HTTP Basic Authentication, using your OAuth2 client credentials."
      security:
        - token: []
  /oauth2/token/revoke:
    post:
      summary: Revoke an existing access or refresh token
      tags:
        - oauth2
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                required:
                  - revoked
                properties:
                  revoked:
                    type: boolean
                    x-stoplight:
                      id: rk9152aczpg27
                    default: true
      operationId: get-oauth2-token-revoke
      x-stoplight:
        id: amvjs8enfwm15
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  x-stoplight:
                    id: e5346lawffc2i
                token_hint:
                  type: string
                  x-stoplight:
                    id: gpg14sbbeovih
      parameters:
        - $ref: '#/components/parameters/Authorization'
      security:
        - token: []
      description: 'Must authenticate via HTTP Basic Authentication, using your OAuth2 client credentials.'
  /v2/resources/discover/resources:
    get:
      summary: Fetch a list of resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    x-stoplight:
                      id: dglyjliykl8du
                    example: success
                    default: sucess
                  data:
                    type: object
                    x-stoplight:
                      id: 2vibxcaob4nm2
                    required:
                      - resources
                      - stats
                    properties:
                      resources:
                        type: array
                        x-stoplight:
                          id: o8puq9d5e8lrd
                        items:
                          $ref: '#/components/schemas/Resource'
                      filters:
                        x-stoplight:
                          id: 0o7us2ki57uke
                        type: array
                        items:
                          $ref: '#/components/schemas/Filter'
                      stats:
                        $ref: '#/components/schemas/ListStats'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
      operationId: get-resources-discover-resources
      x-stoplight:
        id: p24j0imx0z6cc
      parameters:
        - schema:
            type: string
          in: query
          name: category_id
          description: 'A category ID to filter on. If the provided category is a parent, resources from subcategories will also be included.'
          allowEmptyValue: false
        - schema:
            type: string
            example: 'Description,Creator'
          in: query
          name: with
          description: A comma-separated list of additional data to include. See endpoint documentation for more information.
          style: form
        - schema:
            type: object
          in: query
          name: filters
          description: A list of dynamic filters to apply.
          explode: false
          style: deepObject
        - schema:
            type: string
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on.
          style: form
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: The page number to return.
        - schema:
            type: number
            default: 25
            maximum: 100
          in: query
          name: per_page
          description: The number of resources to return per page.
        - schema:
            type: boolean
          in: query
          name: no_dependencies
      description: "Supported 'with' hints:\r\n- `filters`: include dynamic filter information in the response.\r\n- See 'Resource' model for additional 'with' hints."
      tags:
        - resources/discovery
      security:
        - token: []
    parameters: []
  /v2/resources/discover/categories:
    get:
      summary: Fetch a list of categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: xlgju922zbakq
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: qzpl0xc49xbqn
                    properties:
                      categories:
                        type: array
                        x-stoplight:
                          id: ypy1uslznrrg8
                        items:
                          $ref: '#/components/schemas/Category'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
      operationId: get-resources-discover-categories
      x-stoplight:
        id: 1wpuixx1xd8vo
      parameters:
        - schema:
            type: string
          in: query
          name: category_id
          description: A category ID to filter on.
        - schema:
            type: string
            enum:
              - SortOptions
              - FilterOptions
          in: query
          name: with
          description: A comma-separated list of submodels to include.
      tags:
        - resources/discovery
      description: "Supported 'with' hints:\r\n- Children: includes all subcategories and their children"
      security:
        - token: []
    parameters: []
  /v2/resources/discover/licenses:
    get:
      summary: Fetch a list of the user's licenses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: n6seyo7ctng3b
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: ok6y9x8fnujrs
                    properties:
                      licenses:
                        type: array
                        x-stoplight:
                          id: ukpndrnv7kx4k
                        items:
                          $ref: '#/components/schemas/License'
                      stats:
                        $ref: '#/components/schemas/ListStats'
        4XX:
          $ref: '#/components/responses/Error'
        5XX:
          $ref: '#/components/responses/Error'
      operationId: get-v2-resources-discover-licenses
      x-stoplight:
        id: 5ulsft847tbha
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/with'
      description: "Supported 'with' hints:\r\n- Resource: the resource the license is for if content_type = `resource`"
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/resources/discover/cart/view:
    get:
      summary: View the user's cart items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                  - data
                properties:
                  result:
                    x-stoplight:
                      id: nh2gpyez71rg4
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: s9eu4del2jl1o
                    required:
                      - items
                      - summary
                    properties:
                      items:
                        type: array
                        x-stoplight:
                          id: y5uutu1pll4ju
                        items:
                          $ref: '#/components/schemas/CartItem'
                      summary:
                        $ref: '#/components/schemas/CartSummary'
                      user:
                        $ref: '#/components/schemas/Member'
      operationId: get-v2-resources-discover-cart-view
      x-stoplight:
        id: eikr4b3wx2qem
      description: ''
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/resources/discover/cart/add:
    post:
      summary: Add items to a user's cart
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    x-stoplight:
                      id: 2frwalk3e6cdk
                  data:
                    type: string
                    x-stoplight:
                      id: oofrp2lorahcv
      operationId: post-v2-resources-discover-cart-add
      x-stoplight:
        id: 91lnfa7dxz87w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  type: array
                  x-stoplight:
                    id: rypnfui87uxpw
                  items:
                    x-stoplight:
                      id: 17j3u2gvgn73u
                    type: array
                    items:
                      x-stoplight:
                        id: c1m7a3oenkptw
                      type: integer
        description: "A list of content to add to the user's cart. The outer list is keyed by the content type and the inner list are the content IDs.\r\n\r\nFor instance, if adding a resource with the ID 555, the body becomes:\r\n```json\r\n{\"add\": {\"resource\": [555]}}\r\n```"
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/resources/discover/cart/checkout:
    post:
      summary: Initiate a checkout of a user's cart
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                  - data
                properties:
                  result:
                    x-stoplight:
                      id: 0bq17xcx6sasp
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: t03u8ehqrfbfm
                    required:
                      - status
                    properties:
                      status:
                        x-stoplight:
                          id: cltailjstvwne
                        description: "`initiated` - the checkout request was successful and returned a Tebex basket identifier stored in the `ident` field.\r\n\r\n`bypassed` - the checkout was successful but no Tebex basket identifier was generated as it was not needed (perhaps because the buyer used a 100% off coupon)."
                        enum:
                          - initiated
                          - bypassed
                      ident:
                        type: string
                        x-stoplight:
                          id: 2dgphdqq1plwd
                        description: The Tebex cart identifier which you can use to redirect to or open a Tebex.js overlay.
                      url:
                        type: string
                        x-stoplight:
                          id: e3gsxaj64agkm
                        description: The Tebex checkout link to redirect to if not using Tebex.js (built from the included ident).
      operationId: post-v2-resources-discover-cart-checkout
      x-stoplight:
        id: 0x1pcudppx63b
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/resources/discover/cart/remove:
    post:
      summary: Remove an item from the user's cart
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: p1mprt5irhvp4
                    enum:
                      - success
                  data:
                    type: string
                    x-stoplight:
                      id: rrk17ep6tjvee
      operationId: post-v2-resources-discover-cart-remove
      x-stoplight:
        id: 12m9v5ctkpynt
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cart_item_id:
                  type: integer
                  x-stoplight:
                    id: ja4uc5cg03559
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/resources/discover/cart/coupon/add:
    post:
      summary: Add a coupon to the user's cart
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: ih2ptsykg2zfp
                    enum:
                      - success
                  data:
                    type: string
                    x-stoplight:
                      id: wy1y5k6tyj66w
      operationId: post-v2-resources-discover-cart-coupon-add
      x-stoplight:
        id: g2gmfc32a3a14
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  x-stoplight:
                    id: 4ojoigmv6ehl1
      tags:
        - resources/discovery
      security:
        - oauth2: []
    parameters: []
  /v2/resources/discover/cart/coupon/remove:
    post:
      summary: Remove a coupon from the user's cart
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: zn9dfmuqpf8do
                    enum:
                      - success
                  data:
                    type: string
                    x-stoplight:
                      id: aw8s9itfrpeei
      operationId: post-v2-resources-discover-cart-coupon-remove
      x-stoplight:
        id: bbvokgafxl9nf
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  x-stoplight:
                    id: mlueurz12lym0
      tags:
        - resources/discovery
      security:
        - oauth2: []
  /v2/events:
    get:
      summary: Fetch a list of pending events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: 3tmrr5vfrkfif
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 4o0sz1pv0blqo
                    properties:
                      events:
                        type: array
                        x-stoplight:
                          id: uhm6rqy1zeb93
                        items:
                          $ref: '#/components/schemas/Event'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-events
      x-stoplight:
        id: 00f4ahftly4s2
      security:
        - token: []
      tags:
        - events
  /v2/events/complete:
    post:
      summary: Mark events as complete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: 43yhqm08jdpp7
                    enum:
                      - success
                  data:
                    type: string
                    x-stoplight:
                      id: kx5hd2kwivu68
      operationId: post-v2-events-complete
      x-stoplight:
        id: f2lqrdli45xul
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - event_ids
              properties:
                event_ids:
                  type: array
                  x-stoplight:
                    id: k95upgj82o2zf
                  items:
                    x-stoplight:
                      id: 9ykv6yr4xaldk
                    type: integer
      tags:
        - events
  /v2/analytics:
    get:
      summary: Fetch a list of analytics definitions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: qh5difwvjoizq
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: ylaffyg9gv5g0
                    properties:
                      analytics:
                        type: object
                        additionalProperties:
                          $ref: '#/components/schemas/Analytic'
      operationId: get-v2-analytics
      x-stoplight:
        id: au6y5fszotgtf
      security:
        - token: []
      tags:
        - analytics
  /v2/analytics/graph:
    get:
      summary: Fetch analytics graph data
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: 2bq9is0ilhv95
                    enum:
                      - success
                  data:
                    $ref: '#/components/schemas/AnalyticGraphData'
      operationId: get-v2-analytics-graph
      x-stoplight:
        id: 10brpg6zlz0yv
      parameters:
        - schema:
            type: array
          in: query
          name: analytics
          description: A list of analytic IDs to fetch data for.
          style: form
        - schema:
            type: string
          in: query
          name: period
          description: The time period to fetch data over.
        - schema:
            type: array
          in: query
          name: filters
          description: A set of filters which may be used for the analytics.
        - schema:
            type: string
          in: query
          name: start_date
          description: 'Only respected when ''period'' = ''custom_range'', in the format ''YYYY-MM-DD''.'
        - schema:
            type: string
          in: query
          name: end_date
          description: 'Only respected when ''period'' = ''custom_range'', in the format ''YYYY-MM-DD''.'
      security:
        - token: []
      tags:
        - analytics
  /v2/analytics/single:
    get:
      summary: Fetch a single analytics value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: xmfb8ky1vzpnt
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: ufpaq01g3dtbb
                    properties:
                      analytics:
                        type: object
                        x-stoplight:
                          id: jkvxuc40f3y2k
                        additionalProperties:
                          x-stoplight:
                            id: 7sqdxmtvvhdpe
                          type: number
                      period:
                        type: object
                        x-stoplight:
                          id: 0ignatns1rheq
                        properties:
                          period:
                            type: string
                            x-stoplight:
                              id: 8z61la6a08nvr
                          period_display:
                            type: string
                            x-stoplight:
                              id: uymu5p1qrdb8m
                          start_date:
                            type: string
                            x-stoplight:
                              id: 9tqnam1yqeh1v
                          end_date:
                            type: string
                            x-stoplight:
                              id: 9clfd4oneqi2b
      operationId: get-v2-analytics-single
      x-stoplight:
        id: z0mpisnpeuegq
      parameters:
        - schema:
            type: array
          in: query
          name: analytics
          description: A list of analytic IDs to fetch data for.
          explode: false
          style: form
        - schema:
            type: string
          in: query
          name: period
          description: The time period to fetch data over.
        - schema:
            type: array
          in: query
          name: filters
          description: A set of filters which may be used for the analytics.
        - schema:
            type: string
          in: query
          name: start_date
          description: 'Only respected when ''period'' = ''custom_range'', in the format ''YYYY-MM-DD''.'
        - schema:
            type: string
          in: query
          name: end_date
          description: 'Only respected when ''period'' = ''custom_range'', in the format ''YYYY-MM-DD''.'
      security:
        - token: []
      tags:
        - analytics
  /v2/resources/creator/update:
    post:
      summary: Post a resource update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                  - data
                properties:
                  result:
                    x-stoplight:
                      id: exqnprziiwvbp
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 344b8t2v40q02
                    required:
                      - version_id
                    properties:
                      update_id:
                        type: integer
                        x-stoplight:
                          id: dbrrg2c8zn7gp
                      version_id:
                        type: integer
                        x-stoplight:
                          id: dc1zs3jwc4eam
      operationId: post-v2-resources-creator-update
      x-stoplight:
        id: wowhoeszq2hjg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - resource_id
                - version_name
                - file
              properties:
                resource_id:
                  type: integer
                  x-stoplight:
                    id: cmtmq6rbwu7qg
                version_name:
                  type: string
                  x-stoplight:
                    id: 8hv9lq3frpql9
                  description: 'The version name as a string (eg. 5.0, 5.0-stable). The final version name will be prepended with ''v'' (eg. v5.0, v5.0-stable).'
                file:
                  type: object
                  x-stoplight:
                    id: 5u46zlge0nj6e
                  required:
                    - name
                    - data
                  properties:
                    name:
                      type: string
                      x-stoplight:
                        id: zbo1xazef8cb9
                      description: The name of the file (including extension).
                    data:
                      type: string
                      x-stoplight:
                        id: fw3l64sgufj9g
                      description: The base64 encoded file data.
                update:
                  type: object
                  x-stoplight:
                    id: n2gw4000dvmce
                  properties:
                    post:
                      type: boolean
                      x-stoplight:
                        id: z62rbhal57j9a
                      description: Whether or not to post an update alongside the new version.
                    title:
                      type: string
                      x-stoplight:
                        id: odpb2hragka52
                    message:
                      type: string
                      x-stoplight:
                        id: nb28gbi9jdlg3
                      description: The BBCode-formatted body of the update.
      description: "Creates a new version for the resource and optionally posts a public update message. The uploaded file must be encoded using base64 as part of the JSON request body shown below.\r\n\r\nThe request body (including the base64 encoded file data) cannot exceed 100MB. This roughly equates to a 67MB upload limit for the raw file when taking into account base64 encoding losses."
      tags:
        - resources/creator
      security:
        - token: []
  /v2/resources/creator/resources:
    get:
      summary: Fetch a list of your resources
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: v5r96kr9dqwuo
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: dabofrq969z2z
                    properties:
                      resources:
                        type: array
                        x-stoplight:
                          id: d0f9nn42b377b
                        items:
                          $ref: '#/components/schemas/Resource'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-resources
      x-stoplight:
        id: 103bx8jeqlgb9
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          style: form
  /v2/resources/creator/purchases:
    get:
      summary: Fetch a list of your resources' purchases
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: ijrkvq7e55lk7
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: rn50qk5cictkz
                    properties:
                      purchases:
                        type: array
                        x-stoplight:
                          id: okjk5uwg60bob
                        items:
                          $ref: '#/components/schemas/Purchase'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-purchases
      x-stoplight:
        id: b84urq8cyo0x5
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          style: form
        - schema:
            type: array
          in: query
          name: buyer_ids
          style: form
          description: A comma-separated list of buyer IDs to filter on. No filter is applied if empty
        - schema:
            type: array
          in: query
          name: external_tids
          style: form
          description: A comma-separated list of external transaction IDs (TIDs) to filter on. No filter is applied if empty.
  /v2/resources/creator/licenses:
    get:
      summary: Fetch a list of your resources' licenses
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: yued3506i8yd7
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: cgzp5shxla1bp
                    properties:
                      licenses:
                        x-stoplight:
                          id: 86775q3w9qsjf
                        type: array
                        items:
                          $ref: '#/components/schemas/License'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-licenses
      x-stoplight:
        id: rcej7mxxk7qj0
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          style: form
  /v2/resources/creator/versions:
    get:
      summary: Fetch a list of your resources' versions
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: cb6g4wyeuti1z
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: i0n4ifg6mb2ap
                    properties:
                      versions:
                        type: array
                        x-stoplight:
                          id: 5xsmn3zl7ql9j
                        items:
                          $ref: '#/components/schemas/Version'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-versions
      x-stoplight:
        id: n8na44g7vgvh8
      parameters:
        - schema:
            type: array
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          style: form
      security:
        - token: []
  /v2/resources/creator/updates:
    get:
      summary: Fetch a list of your resource's updates
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: czmpzo1mlvgl6
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 26us85leinnbx
                    properties:
                      updates:
                        type: array
                        x-stoplight:
                          id: hqwtf5ifmumfm
                        items:
                          $ref: '#/components/schemas/Update'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-updates
      x-stoplight:
        id: r8yez7mkav2pj
      parameters:
        - schema:
            type: array
          in: query
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          name: resource_ids
          style: form
      security:
        - token: []
  /v2/resources/creator/addons:
    get:
      summary: Fetch a list of your resources' addons
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: d29obwisl899k
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: tu2owy0jz4gyk
                    properties:
                      addons:
                        type: array
                        x-stoplight:
                          id: k8k4v8oottf7n
                        items:
                          $ref: '#/components/schemas/Addon'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-addons
      x-stoplight:
        id: s7sgtrw72qto1
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          name: resource_ids
          style: form
  /v2/resources/creator/bundles:
    get:
      summary: Fetch a list of your bundles
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: uekjh2zy30qos
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: ximx0zfmcd10v
                    properties:
                      bundles:
                        type: array
                        x-stoplight:
                          id: imgfa19670je6
                        items:
                          $ref: '#/components/schemas/Bundle'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-bundles
      x-stoplight:
        id: 8rr5mssb968xc
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: bundle_ids
          description: A comma-separated list of bundle IDs to filter on. No filter is applied if empty.
          style: form
  /v2/resources/creator/bundles/entries:
    get:
      summary: Fetch a list of your bundle entries
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: gs33hjg02zv6t
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: qzs1pa77rt41m
                    properties:
                      bundle-entries:
                        type: array
                        x-stoplight:
                          id: vv5jzan2ckowd
                        items:
                          $ref: '#/components/schemas/BundleEntry'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-bundles-entries
      x-stoplight:
        id: ppk1s05ia84fa
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: bundle_ids
          description: A comma-separated list of bundle IDs to filter on. No filter is applied if empty.
          style: form
  /v2/resources/creator/sale-events:
    get:
      summary: Fetch a list of your sale events
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: ag6mqz29r275c
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: qeoxpyy2ztz5t
                    properties:
                      sale-events:
                        type: array
                        x-stoplight:
                          id: o4a7auwr3061f
                        items:
                          $ref: '#/components/schemas/SaleEvent'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-sale-events
      x-stoplight:
        id: e153a7jk4duox
      security:
        - token: []
  /v2/resources/creator/reviews:
    get:
      summary: Fetch a list of your resources' reviews
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: gq3h8u5vh5xj4
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 60x4ap13u6qz3
                    properties:
                      reviews:
                        type: array
                        x-stoplight:
                          id: 3l0reizzph448
                        items:
                          $ref: '#/components/schemas/Review'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-reviews
      x-stoplight:
        id: 2srju4vu6icgb
      parameters:
        - schema:
            type: array
          in: query
          name: resource_ids
          description: A comma-separated list of resource IDs to filter on. No filter is applied if empty.
          style: form
  /v2/resources/buyer/latest:
    get:
      summary: Fetches the latest versions & license information
      tags:
        - resources/buyer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: xe86bnx44ra3f
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 086gai3wsenos
                    properties:
                      current:
                        $ref: '#/components/schemas/Version'
                      latest:
                        $ref: '#/components/schemas/Version'
                      has_usage_rights:
                        type: boolean
                        x-stoplight:
                          id: l5kjdeuasezzj
      operationId: get-v2-resources-buyer-latest
      x-stoplight:
        id: z2obo5xmlssl1
      security:
        - token: []
      parameters:
        - schema:
            type: string
          in: query
          name: nonce
          description: '32 character hash provided by an anti-piracy placeholder of the NONCE type. Must be from a resource download (cannot be an addon download’s nonce, etc).'
  /v2/resources/creator/coupons:
    get:
      summary: Fetch a list of your coupons
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: 6k6t5t0aql779
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: cgi8gtkvkv5g9
                    properties:
                      coupons:
                        type: array
                        x-stoplight:
                          id: gmdy0wr0qa21c
                        items:
                          $ref: '#/components/schemas/Coupon'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-coupons
      x-stoplight:
        id: w4lgpl86j65rj
      security:
        - token: []
    post:
      summary: Create a new coupon
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: w75i7hsxzbudp
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: zh07tlli8qz6u
                    properties:
                      coupon:
                        $ref: '#/components/schemas/Coupon'
      operationId: post-v2-resources-creator-coupons
      x-stoplight:
        id: ingjrcbpj58sm
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - discount
                - label
              properties:
                type:
                  type: string
                  x-stoplight:
                    id: ebpcmy615ngg8
                  description: Must be 'perecent'.
                  example: percent
                discount:
                  type: number
                  x-stoplight:
                    id: xv4k5gf53jfgg
                  minimum: 1
                  maximum: 50
                label:
                  type: string
                  x-stoplight:
                    id: s6epsr6fjke92
                  description: 'The trailing part of the coupon code (without ''{user_id}-'').'
                  example: launch
                  minLength: 1
                  maxLength: 15
                do_expiry:
                  type: boolean
                  x-stoplight:
                    id: pdoc0dnnykh90
                  description: Whether or not to respect the 'expiry_date' field. No expiry date is set otherwise.
                expiry_date:
                  type: string
                  x-stoplight:
                    id: er9x4jaa1t3n9
                limited_uses:
                  type: boolean
                  x-stoplight:
                    id: z6qig1djgvedr
                  description: Whether or not to respect the 'max_uses' field. No max use limit is set otherwise.
                max_uses:
                  type: integer
                  x-stoplight:
                    id: cn2lm5enh0zp3
                limited_user_uses:
                  type: boolean
                  x-stoplight:
                    id: vj0j5fib451fo
                  description: Whether or not to respect the 'max_per_user_uses' field. No max uses per user limit is set otherwise.
                max_per_user_uses:
                  type: integer
                  x-stoplight:
                    id: 0spylcl8tvicf
                all_content_types:
                  type: array
                  x-stoplight:
                    id: pvu73d9h68j7l
                  description: "If a content type is included, all of the creator's content (of that type) can be used against this coupon.\r\nSupport values include: 'resource', 'addon', and 'bundle'"
                  items:
                    x-stoplight:
                      id: zit61tfbrfybo
                    type: string
                resources:
                  type: string
                  x-stoplight:
                    id: uobqm2o7m5ld6
                  description: A comma-separated list of resource IDs which this coupon can be used against.
                addons:
                  type: string
                  x-stoplight:
                    id: j44atw5c0nq6t
                  description: A comma-separated list of addon IDs which this coupon can be used against.
                bundles:
                  type: string
                  x-stoplight:
                    id: wkajbxmye2hz6
                  description: A comma-separated list of bundle IDs which this coupon can be used against.
      description: This endpoint is currently limited to percent-based coupons with a maximum discount of 50%.
  /v2/health:
    get:
      summary: Retrieve a health status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: vy4x4n9a0bw47
                    enum:
                      - success
                  data:
                    x-stoplight:
                      id: ushq5yrvo220o
                    enum:
                      - ok
      operationId: get-v2-health
      x-stoplight:
        id: t839xv25nj4y1
      security:
        - token: []
      tags:
        - health
  /v2/resources/creator/stores:
    get:
      summary: Fetch a list of your stores
      tags:
        - resources/creator
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: oqlxl2d6zg2nz
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: xzulyec1txsis
                    properties:
                      stores:
                        type: array
                        x-stoplight:
                          id: fh80zzu7xvi6s
                        items:
                          $ref: '#/components/schemas/Store'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-stores
      x-stoplight:
        id: z941xq9jbm1ki
      security:
        - token: []
  /v2/resources/creator/batch:
    get:
      summary: Fetch a list of your batches edits
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: vdj5lttfalg23
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: 4gavk9909u5jv
                    properties:
                      batches:
                        type: array
                        x-stoplight:
                          id: snlln6bye6o3v
                        items:
                          $ref: '#/components/schemas/Batch'
                      stats:
                        $ref: '#/components/schemas/ListStats'
      operationId: get-v2-resources-creator-batch
      x-stoplight:
        id: icz9ioupc63pq
      security:
        - token: []
      parameters:
        - schema:
            type: array
          in: query
          name: batch_ids
          explode: false
          style: form
          description: A comma-separated list of batch IDs to filter on. No filter is applied if empty.
    post:
      summary: Submit a new batch edit
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    x-stoplight:
                      id: 27p3h051x4t3x
                    enum:
                      - success
                  data:
                    type: object
                    x-stoplight:
                      id: txtvguoylrj8j
                    properties:
                      batch:
                        $ref: '#/components/schemas/Batch'
      operationId: post-v2-resources-creator-batch
      x-stoplight:
        id: qa9wz2n2gcuzh
      security: []
      description: Batch edits will be processed in the background meaning a successful call to this endpoint does not guarantee that the edits have been completed. You will instead receive an identifier to a batch edit which you can then use to fetch the status of via the below endpoint. This is not an atomic operation meaning some resources may be edited successfully and others may not be due to an error. You may only batch edit resources you own currently.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - resources
                - changes
              properties:
                resources:
                  type: array
                  x-stoplight:
                    id: ir2feygtqs9js
                  description: A list of resource IDs to edit.
                  items: {}
                changes:
                  type: array
                  x-stoplight:
                    id: dga54iqms4398
                  items:
                    x-stoplight:
                      id: kzylfe3aizlt7
                    type: object
                    required:
                      - field
                      - type
                      - value
                    properties:
                      field:
                        type: string
                        x-stoplight:
                          id: 7wxtfkz0jnfof
                      type:
                        type: string
                        x-stoplight:
                          id: t39muepw3xzgc
                      search:
                        type: string
                        x-stoplight:
                          id: ojc6jmztfj3y9
                      value:
                        x-stoplight:
                          id: dup4famp2x8jh
                        type:
                          - number
                          - string
                          - array
                        items: {}
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
components:
  schemas:
    Resource:
      title: Resource
      x-stoplight:
        id: zmcimzer1b1jr
      type: object
      x-examples:
        Example 1:
          resource_id: 16682
          title: NameGradient
          summary: Sleek-looking and fully customisable HEX/RGB username gradients for your players with PAPI support.
          creator_id: 87939
          description: string
          description_raw: string
          description_html: string
          published_at: 0
          last_updated_at: 0
          price: 0
          currency: string
          purchases: 0
          downloads: 0
          reviews: 0
          cover_image_url: string
          carousel_image_urls:
            - string
          SaleEventEntry:
            entry_id: 0
            event_id: 0
            content_type: string
            content_id: 0
            discount: 0
            SaleEvent:
              event_id: string
              title: string
              started_at: string
              ended_at: string
          Creator:
            user_id: string
            username: string
            registered_at: string
          '': string
      description: |-
        Supported 'with' hints:
        - 'Creator': the resource creator/owner
        - 'Category': the resource category 
        - 'Description': the resource description (rendered HTML and BBCode)
        - 'LatestReviews': list of the 10 latest reviews
        - 'Filter values': filter values set by the creator
      properties:
        resource_id:
          type: integer
        title:
          type: string
        summary:
          type: string
        url:
          type: string
          x-stoplight:
            id: j0kfd8dneoz28
        creator_id:
          type: integer
        published_at:
          type: integer
        last_updated_at:
          type: integer
        purchases:
          type: integer
        downloads:
          type: integer
        cover_image_url:
          type: string
          x-stoplight:
            id: y7ga85b3lc17q
        carousel_image_urls:
          type: array
          x-stoplight:
            id: mzrwh9m4c7hn6
          items:
            x-stoplight:
              id: cosmqkjrtvkyy
            type: string
        review_count:
          type: integer
          x-stoplight:
            id: 8s289vxet37m3
        review_average:
          type: number
          x-stoplight:
            id: h72cfjwc1hvtw
        ListPrice:
          $ref: '#/components/schemas/Price'
        FinalPrice:
          $ref: '#/components/schemas/Price'
        SaleEventEntry:
          $ref: '#/components/schemas/SaleEventEntry'
        Creator:
          $ref: '#/components/schemas/Member'
        LatestVersion:
          $ref: '#/components/schemas/Version'
        LatestUpdate:
          $ref: '#/components/schemas/Version'
        LatestReviews:
          type: array
          x-stoplight:
            id: yezfazxyrfotj
          items:
            $ref: '#/components/schemas/Review'
        Description:
          $ref: '#/components/schemas/RichText'
        Category:
          $ref: '#/components/schemas/Category'
        Addons:
          type: object
          x-stoplight:
            id: nw0fuu0htjc3r
          additionalProperties:
            x-stoplight:
              id: rn2wzjjlm7yl7
            type: array
            items:
              $ref: '#/components/schemas/Addon'
    Member:
      title: User
      x-stoplight:
        id: 7sp14wi7arb08
      type: object
      properties:
        user_id:
          type: string
        username:
          type: string
          x-stoplight:
            id: yzcth62ycexs0
        registered_at:
          type: string
          x-stoplight:
            id: kfuewsgtcuq74
        avatar_url:
          type: string
          x-stoplight:
            id: 6l5qmbkfzte0c
    SaleEventEntry:
      title: SaleEventEntry
      x-stoplight:
        id: aothfswa474u9
      type: object
      properties:
        entry_id:
          type: integer
        event_id:
          type: integer
          x-stoplight:
            id: lm30shuyr3z6c
        content_type:
          type: string
          x-stoplight:
            id: osmnw0wzr159m
        content_id:
          type: integer
          x-stoplight:
            id: a8mbe1vh1zs2j
        discount:
          type: number
          x-stoplight:
            id: 2mgm9awat9wwx
        SaleEvent:
          $ref: '#/components/schemas/SaleEvent'
    SaleEvent:
      title: SaleEvent
      x-stoplight:
        id: 9s2wuunj794c3
      type: object
      properties:
        event_id:
          type: string
        title:
          type: string
          x-stoplight:
            id: jxr9eg8jphwjc
        started_at:
          type: string
          x-stoplight:
            id: 4c5qybqyvaisx
        ended_at:
          type: string
          x-stoplight:
            id: qvyo8pizo0d9c
    Review:
      title: Review
      x-stoplight:
        id: pg0jfhod8x7p9
      type: object
      properties:
        review_id:
          type: integer
        resource_id:
          type: integer
          x-stoplight:
            id: stsa2cb4s307b
        reviewer_id:
          type: integer
          x-stoplight:
            id: q37yrlvbloxbd
        version_id:
          type: integer
          x-stoplight:
            id: bk0vuzsq5x36g
        stars:
          type: number
          x-stoplight:
            id: uhj1cq2cu1fw3
        message:
          type: string
          x-stoplight:
            id: o8kx26ggy0hnx
        created_at:
          type: integer
          x-stoplight:
            id: zql6vg2pg4z21
        response:
          type: string
          x-stoplight:
            id: tcxyqugk4m0me
        Resource:
          $ref: '#/components/schemas/Resource'
        Version:
          $ref: '#/components/schemas/Version'
        Reviewer:
          $ref: '#/components/schemas/Member'
      description: |-
        Supported 'with' hints:
        - 'Resource': the resource this review relates to
        - 'Version': the version this review relates to
        - 'Reviewer': the member who gave this review
    Update:
      title: Update
      x-stoplight:
        id: ellmdilqjtnpb
      type: object
      properties:
        update_id:
          type: integer
        resource_id:
          type: integer
          x-stoplight:
            id: qhg4ucudmv0xy
        created_at:
          type: integer
          x-stoplight:
            id: pk4kyw7aqvu2t
        title:
          type: string
          x-stoplight:
            id: ttty2nc1hjun1
        Description:
          $ref: '#/components/schemas/RichText'
        Resource:
          $ref: '#/components/schemas/Resource'
      description: |-
        Supported 'with' hints:
        - 'Resource': the resource this update relates to
        - 'Description': the rendered description of the update
    Version:
      title: Version
      x-stoplight:
        id: bmt8gkywmk32d
      type: object
      properties:
        version_id:
          type: integer
        version_string:
          type: string
          x-stoplight:
            id: 3qnk9id9sjg19
        resource_id:
          type: integer
          x-stoplight:
            id: 45vrbew3ivt8o
        created_at:
          type: integer
          x-stoplight:
            id: lps1yiijixnxy
        download_count:
          type: integer
          x-stoplight:
            id: s1c2g2ascd8qo
        review_count:
          type: integer
          x-stoplight:
            id: xowzon45piiq8
        review_average:
          type: number
          x-stoplight:
            id: nmri97ii2j57m
        Resource:
          $ref: '#/components/schemas/Resource'
      description: |-
        Supported 'with' hints:
        - 'Resource': the resource this version relates to
    Filter:
      title: Filter
      x-stoplight:
        id: kkfwv2lsdg2u4
      type: object
      x-examples:
        Search:
          filter_id: __keywords
          order: 0
          primary: true
          title: Search
          options: []
        Type:
          filter_id: type
          order: 0
          primary: true
          title: Price
          options:
            - option_key: ''
              count: 0
              query_field: type
              title: Any
            - option_key: free
              count: 0
              query_field: type
              title: Free
            - option_key: paid
              count: 0
              query_field: type
              title: Paid
      required:
        - filter_id
        - order
        - primary
        - title
        - type
      properties:
        filter_id:
          type: string
          x-stoplight:
            id: nn8ae8gyqr43q
        order:
          type: integer
          x-stoplight:
            id: nyubx0l148ysg
          description: 'The display order of this filter. Filters on BuiltByBit are displayed in ascending order of their order value. '
        primary:
          type: boolean
          x-stoplight:
            id: u0axd5t576mbx
          description: Whether or not BuiltByBit considers this a primary filter. Primary filters are displayed more prominently.
        title:
          type: string
          x-stoplight:
            id: od4r4eq60xl4i
        type:
          type: string
          x-stoplight:
            id: rdwntahbpyw72
          description: "Supported types:  \r\n'radio': a finite choice set (see `choices`). You'll likely want to use the radio HTML tag.  \r\n'select': a finite choice set (see `choices`). You'll likely want to use the select HTML tag.\r\n'text': user text input."
        choices:
          type: array
          x-stoplight:
            id: jlg4vk2ej8n2u
          items:
            $ref: '#/components/schemas/FilterChoice'
        query_field:
          type: string
          x-stoplight:
            id: 86ys0rmz1tivj
        value:
          type: string
          x-stoplight:
            id: pnfspxktvikb9
          description: 'The pass-through value of this filter, only applicable where type = `text`.'
    FilterChoice:
      title: FilterOption
      x-stoplight:
        id: elfdgagrdwhix
      type: object
      required:
        - key
        - query_field
        - title
      properties:
        key:
          type: string
          x-stoplight:
            id: j2zic0ayp4ygl
        count:
          type: integer
          x-stoplight:
            id: jk9mreifb9ivb
          description: "The dynamic count of relevant resources based on the already-applied filter options.\r\nThis may be *null* if we're unable to provide a count for a specific filter combination."
        query_field:
          type: string
          x-stoplight:
            id: jqmsdtrbbvpof
          description: "This is the query string field name to use when attempting to filter on this option. Pass this name as the query string field name and the 'option_key' value as the query string field key.\r\n\r\nEg, if 'option_key' = 'action' and 'query_field' = 'rf[genre]', you should be the query string as `?rf[genre]=action`."
        title:
          type: string
          x-stoplight:
            id: kwmqhc9nqp3ub
        selected:
          type: boolean
          x-stoplight:
            id: jwaeqo2uf1aht
          description: 'Whether or not this option was selected, but only applicable where type = `radio` or `checkbox`.'
    FilterValue:
      title: FilterValue
      x-stoplight:
        id: r7elnl4qkegda
      type: object
      properties:
        filter_id:
          type: string
          x-stoplight:
            id: nxewujomzbhql
        filter_value:
          type: string
          x-stoplight:
            id: vyhp69mlih9or
    Empty:
      title: Empty
      x-stoplight:
        id: vgcuawlmev6cq
      type: object
    CartItem:
      title: CartItem
      x-stoplight:
        id: 56j3817scrzh1
      type: object
      properties:
        cart_item_id:
          type: string
          x-stoplight:
            id: p6ujg1bv3o3ih
        content_type:
          type: string
          x-stoplight:
            id: m4asqoij5d0z9
        content_id:
          type: integer
          x-stoplight:
            id: mt6cjyfnk484h
        content_title:
          type: string
          x-stoplight:
            id: sv2e43i5w09un
        content_summary:
          type: string
          x-stoplight:
            id: 7owpp4c9c87yj
        content_cover_image_url:
          type: string
          x-stoplight:
            id: 6imus6gmqu7tn
        list_price:
          type: number
          x-stoplight:
            id: ccxb6cl670du8
        list_price_formatted:
          type: string
          x-stoplight:
            id: zvgipr34l9yv7
        final_price:
          type: number
          x-stoplight:
            id: yo4zke2lcac6l
        final_price_formatted:
          type: string
          x-stoplight:
            id: bypnjlevon8u9
        discounts:
          type: array
          x-stoplight:
            id: g4djxkdvgkxuu
          items:
            x-stoplight:
              id: r6x6zbrv6s90q
            type: object
            properties:
              amount:
                type: number
                x-stoplight:
                  id: xferie0tbawb8
              formatted:
                type: string
                x-stoplight:
                  id: r3zlzx1omaqc8
    CartSummary:
      title: CartSummary
      x-stoplight:
        id: 7vftixajz8wum
      type: object
      required:
        - list_price
        - list_price_formatted
        - final_price
        - final_price_formatted
        - currency
      properties:
        list_price:
          type: number
          x-stoplight:
            id: cb3jp1b4c7o60
          description: The combined listed price of all items in the cart (ie. the original prices without any discounts applied).
        list_price_formatted:
          type: string
          x-stoplight:
            id: viqvi29vgo81h
          description: "The list price formatted as a string using the given currency.\r\nA list price of 5 would be formatted as `$5.00`."
        final_price:
          type: number
          x-stoplight:
            id: 2ary8hl7lag9s
          description: 'The combined final price of all items in the cart (ie. with discounts applied). This is the subtotal the user would pay upon checkout initiation, minus any applicable sales tax.'
        final_price_formatted:
          type: string
          x-stoplight:
            id: clz01pfy72j3o
          description: "The final price formatted as a string using the given currency.\r\nA final price of 5 would be formatted as `$5.00`."
        currency:
          type: string
          x-stoplight:
            id: vhcjzo79pzldi
          example: USD
          description: "The currency code (ISO 4217) of the prices in this summary.\r\nWill be USD for all transactions through BuiltByBit."
        notice:
          type: string
          x-stoplight:
            id: arvcnn9amx7ok
          description: A message to display to the user as a notice regarding their current cart items. We may use this to inform the user that they have a previous pending checkout which is yet to be fulfilled (either because the payment is still pending or because they closed out of the checkout).
    ListStats:
      title: ListStats
      x-stoplight:
        id: 2u45ylcsrl3nm
      type: object
      properties:
        total:
          type: integer
          x-stoplight:
            id: 8204i9quj03ow
        page:
          type: integer
          x-stoplight:
            id: 49avq4sg099mn
        per_page:
          type: integer
          x-stoplight:
            id: wx7qu5pxu7fkk
        max_page:
          type: integer
          x-stoplight:
            id: pwbxrblm8j3f2
    License:
      title: License
      x-stoplight:
        id: o9u5p45v5rb7i
      type: object
      required:
        - content_type
        - content_id
      properties:
        content_type:
          type: string
          x-stoplight:
            id: rlc1ysbnqmp7n
        content_id:
          type: integer
          x-stoplight:
            id: 88psm3zjyyfxf
        buyer_id:
          type: integer
          x-stoplight:
            id: 1dglyy2qk4hcr
        permanent:
          type: boolean
          x-stoplight:
            id: x1wh8p1szumhf
          description: Whether or not this license is permanent.
        active:
          type: boolean
          x-stoplight:
            id: uredi55fdcnxe
          description: Only respected when permanent = `true`.
        start_date:
          type: integer
          x-stoplight:
            id: 8ht4uxswipjq8
          description: Only respected when permanent = `false`.
        end_date:
          type: integer
          x-stoplight:
            id: 2878h1ojln4yv
          description: Only respected when permanent = `false`.
        Resource:
          $ref: '#/components/schemas/Resource'
        Buyer:
          $ref: '#/components/schemas/Member'
      description: |-
        Supported 'with' hints:
        - 'Resource': the resource this license is for, if content_type = 'resource'
        - 'Buyer': the buyer this license is for
    Category:
      title: Category
      x-stoplight:
        id: 3y3jqix6hbt0l
      type: object
      required:
        - category_id
        - category_url
        - title
      properties:
        category_id:
          type: integer
          x-stoplight:
            id: g6i2pnor4ut2n
        category_url:
          type: string
          x-stoplight:
            id: na2gbq2evth2l
        description:
          type: string
          x-stoplight:
            id: 1soqon5vi9j7v
        fa_icon:
          type: string
          x-stoplight:
            id: 3ebq76co0fah0
        platform_image_url:
          type: string
          x-stoplight:
            id: fzvocd1ll8ag6
        title:
          type: string
          x-stoplight:
            id: hr3v1dvkfhp0a
        Children:
          type: array
          x-stoplight:
            id: pckprpjczzouq
          items:
            $ref: '#/components/schemas/Category'
    Addon:
      title: Addon
      x-stoplight:
        id: nyfzf8yo4xr80
      type: object
      properties:
        addon_id:
          type: integer
          x-stoplight:
            id: il7su36pygfzx
        title:
          type: string
          x-stoplight:
            id: u5mht7bdoepzg
        description:
          type: string
          x-stoplight:
            id: admdd9quz6dmq
        type:
          type: string
          x-stoplight:
            id: 3d33acfl1lv7r
        state:
          x-stoplight:
            id: 9ckmm8mg8kxk2
          enum:
            - visible
            - disabled
        display_order:
          type: integer
          x-stoplight:
            id: ok474nzyh3w9q
        default:
          type: boolean
          x-stoplight:
            id: 1o17r7mnuny38
        ListPrice:
          $ref: '#/components/schemas/Price'
        FinalPrice:
          $ref: '#/components/schemas/Price'
    Event:
      title: Event
      x-stoplight:
        id: r5v42rgdqdw28
      type: object
      required:
        - event_id
        - listener_id
        - created_at
        - trigger_type
        - trigger_data
      properties:
        event_id:
          type: integer
          x-stoplight:
            id: rvyudn0oeaf4c
        listener_id:
          type: integer
          x-stoplight:
            id: tdv1hu24fg6ew
        created_at:
          type: integer
          x-stoplight:
            id: qq4izs03gliqk
        trigger_type:
          type: string
          x-stoplight:
            id: bf893lysx1xat
        trigger_data:
          type: object
          x-stoplight:
            id: ukdnh6uvx3dbz
    Analytic:
      title: Analytic
      x-stoplight:
        id: du2qh49t7r2aj
      type: object
      properties:
        label:
          type: string
          x-stoplight:
            id: vroghnn1n0sje
        desc:
          type: string
          x-stoplight:
            id: b8haikhkg54b9
        graph:
          type: boolean
          x-stoplight:
            id: ttl1kmqn1roxd
          description: Whether or not this analytic can be requested via the /v2/analytics/graph endpoint.
        single:
          type: boolean
          x-stoplight:
            id: 0fudal91tc4uk
          description: Whether or not this analytic can be requested via the /v2/analytics/single endpoint.
        filters:
          type: object
          x-stoplight:
            id: u7qomukz00gik
          additionalProperties:
            x-stoplight:
              id: 4bpzzswrx9vf4
            type: object
            properties:
              desc:
                type: string
                x-stoplight:
                  id: gimswv4g2ufnl
              type:
                type: string
                x-stoplight:
                  id: 60qhc5xwnk1yl
        periods:
          type: array
          x-stoplight:
            id: zjy6b2cnimzac
          items:
            x-stoplight:
              id: 1m4mpre89qqkc
            type: string
    AnalyticGraphData:
      title: AnalyticGraphData
      x-stoplight:
        id: sqs7fuqvaup2y
      type: object
      properties:
        data:
          type: object
          x-stoplight:
            id: o8849z3b8fyuy
          additionalProperties:
            $ref: '#/components/schemas/AnalyticGraphDataPoint'
        grouping:
          type: string
          x-stoplight:
            id: g8zpusqf9g9ql
        label:
          type: string
          x-stoplight:
            id: 0lulkkwyfm1l5
        period:
          type: object
          x-stoplight:
            id: gnjtob0nyvzgo
          properties:
            period:
              type: string
              x-stoplight:
                id: xf4hakxfnd2c0
            period_display:
              type: string
              x-stoplight:
                id: dcsdfmggx6vd4
            start_date:
              type: string
              x-stoplight:
                id: oae0lct5fsyah
            end_date:
              type: string
              x-stoplight:
                id: t9lc0rcpkesbu
    AnalyticGraphDataPoint:
      title: AnalyticGraphDataPoint
      x-stoplight:
        id: ybm62r91xo1kj
      type: object
      properties:
        label:
          type: string
          x-stoplight:
            id: z24oka172rv9g
        count:
          type: integer
          x-stoplight:
            id: 5gzu6ctl746uh
        ts:
          type: integer
          x-stoplight:
            id: czfl5wz2ju5eh
        days:
          type: integer
          x-stoplight:
            id: 1f7d4eagb2d0i
        values:
          type: object
          x-stoplight:
            id: 73ijgb3mknlad
          additionalProperties:
            x-stoplight:
              id: irm0618am9i2d
            type: number
    Purchase:
      title: Purchase
      x-stoplight:
        id: tusa0f8v6z0ha
      type: object
      description: |-
        Supported 'with' hints:
        - 'Buyer': the buyer of the purchase
        - 'Seller': the seller of the purchase
        - 'Resource': the resource purchased, if content_type = 'resource'
        - 'Addon': the addon purchased, if content_type = 'addon'
      properties:
        purchase_id:
          type: integer
          x-stoplight:
            id: 7wwg44yyl1ls0
        content_type:
          type: string
          x-stoplight:
            id: 6kdti5vhkioid
        content_id:
          type: integer
          x-stoplight:
            id: i35xtukh4zgs7
        buyer_id:
          type: integer
          x-stoplight:
            id: egf9fdv06ke62
        seller_id:
          type: integer
          x-stoplight:
            id: 5plqfjghvk5yu
        created_at:
          type: integer
          x-stoplight:
            id: 29vj36f5rq025
        validated_at:
          type: integer
          x-stoplight:
            id: t7a5p8m6jjvmd
        bundle_id:
          type: integer
          x-stoplight:
            id: dk4wb0qnfl0mc
        sale_event_id:
          type: integer
          x-stoplight:
            id: r2euyx78tm845
        external_tid:
          type: string
          x-stoplight:
            id: 26r5hgmk50kl4
        gateway:
          type: string
          x-stoplight:
            id: mi5xu1o7brg2e
        ListPrice:
          $ref: '#/components/schemas/Price'
        FinalPrice:
          $ref: '#/components/schemas/Price'
        PlatformFee:
          $ref: '#/components/schemas/Price'
        AdFeePayment:
          $ref: '#/components/schemas/Price'
        AdFeeCredit:
          $ref: '#/components/schemas/Price'
        Resource:
          $ref: '#/components/schemas/Resource'
        Addon:
          $ref: '#/components/schemas/Addon'
        Buyer:
          $ref: '#/components/schemas/Member'
        Seller:
          $ref: '#/components/schemas/Member'
    Price:
      title: Price
      x-stoplight:
        id: opbh0uexp7ako
      type: object
      x-examples:
        Example 1:
          value: 5.99
          currency: USD
          formatted: $5.99
      properties:
        value:
          type: number
          x-stoplight:
            id: lgyl2su1du3tx
        currency:
          type: string
          x-stoplight:
            id: kix6d7k0mwkjp
          description: The currency code (ISO 4217) of the currency.
        formatted:
          type: string
          x-stoplight:
            id: vajqt3ds49a6s
          description: 'A formatted version of the value, including any prefix/postfix currency symbols.'
    Bundle:
      title: Bundle
      x-stoplight:
        id: 1yae2oj7q83n9
      type: object
      properties:
        bundle_id:
          type: integer
          x-stoplight:
            id: 3xhww5gy29r94
        user_id:
          type: integer
          x-stoplight:
            id: ljzj9jm5g2b4q
        title:
          type: string
          x-stoplight:
            id: pmysaems1oktd
        description:
          type: string
          x-stoplight:
            id: bl1xflhnwb5k7
        discount:
          type: number
          x-stoplight:
            id: zr6inlgb151o4
        created_at:
          type: integer
          x-stoplight:
            id: qt870pthbkpi5
        ListPrice:
          $ref: '#/components/schemas/Price'
        FinalPrice:
          $ref: '#/components/schemas/Price'
    RichText:
      title: RichText
      x-stoplight:
        id: 4rh8tz6ddhmvy
      type: object
      properties:
        html:
          type: string
          x-stoplight:
            id: fwudbu9soz231
        bbcode:
          type: string
          x-stoplight:
            id: 05fl5g2eiibgc
    Coupon:
      title: Coupon
      x-stoplight:
        id: oq6kmi79u07gh
      type: object
      properties:
        coupon_id:
          type: integer
          x-stoplight:
            id: ywy5yv57y17hd
        user_id:
          type: integer
          x-stoplight:
            id: xtkixiuqlripm
        label:
          type: string
          x-stoplight:
            id: fmplkgfefexgn
          description: This is the code a buyer would enter at checkout.
        discount:
          type: number
          x-stoplight:
            id: cjika9b98eewb
          description: 'The discount to apply. Either a fixed value, or a decimal percent. Depends on the ''percent'' field.'
        percent:
          type: boolean
          x-stoplight:
            id: zz8j0s73zmv58
          description: "If true, the 'discount' field represents a decimal percentage.\r\nIf false, the 'discount' field represents an absolute $ USD value."
        all_content_types:
          type: array
          x-stoplight:
            id: cw5y2dk2wgcbh
          description: ' A list of content types for which this coupon code applies to without requiring an entry. Eg. if you created the coupon with the ''All resources'' option selected, this list will include "resource".'
          items:
            x-stoplight:
              id: zcl6z77un0g44
            type: string
        created_at:
          type: integer
          x-stoplight:
            id: 1hlqghsid96bm
          description: A UNIX timestamp.
        expires_at:
          type: integer
          x-stoplight:
            id: zeyznolkvpwx6
          description: A UNIX timestamp.
        max_uses:
          type: integer
          x-stoplight:
            id: xe7k7xibddz5o
        max_per_user_uses:
          type: integer
          x-stoplight:
            id: l1bwpxrywpxw6
        uses:
          type: integer
          x-stoplight:
            id: 8q8vmueovxv13
        active:
          type: boolean
          x-stoplight:
            id: ys86bne29bk6e
          description: Whether or not the coupon code is active and can still be used at checkout. Accounts for the expiry date if set and the max use limit if set.
    Store:
      title: Store
      x-stoplight:
        id: 6r7os4b6dxfn3
      type: object
      properties:
        store_id:
          type: integer
          x-stoplight:
            id: im80kz8aw6s98
        user_id:
          type: integer
          x-stoplight:
            id: qzjgu46wxz42g
        name:
          type: string
          x-stoplight:
            id: lukzb1v8n9pmk
        summary:
          type: string
          x-stoplight:
            id: zfcramo4v2iyt
        is_default:
          type: boolean
          x-stoplight:
            id: litijwrtjfw0o
        created_at:
          type: integer
          x-stoplight:
            id: xqf66r1k7quwk
    Batch:
      title: Batch
      x-stoplight:
        id: t08rlhuya7u4f
      type: object
      properties:
        batch_id:
          type: integer
          x-stoplight:
            id: rywmsoga1fe0d
        user_id:
          type: integer
          x-stoplight:
            id: 7xll9btyrfgot
        errors:
          x-stoplight:
            id: xub0zolvnre7u
          type: object
          additionalProperties:
            x-stoplight:
              id: gt82q11gqjh88
            type: array
            items:
              x-stoplight:
                id: 0aer42sweluen
              type: string
        data:
          type: string
          x-stoplight:
            id: q2mzi5v7ih9mx
        created_at:
          type: integer
          x-stoplight:
            id: vgtzd40pnfj4f
        completed_at:
          type: integer
          x-stoplight:
            id: y3phpy9xiq90a
    BundleEntry:
      title: BundleEntry
      x-stoplight:
        id: hwhm4t3bnolli
      type: object
      properties:
        entry_id:
          type: integer
          x-stoplight:
            id: qqoc52yui5tg7
        bundle_id:
          type: integer
          x-stoplight:
            id: s08n1ctiicm6y
        content_type:
          type: string
          x-stoplight:
            id: pmy5qis64c5th
        content_id:
          type: integer
          x-stoplight:
            id: vfkbaf314rc81
        created_at:
          type: integer
          x-stoplight:
            id: iqw6c2yx846jp
        accepted_at:
          type: integer
          x-stoplight:
            id: 2jg7k4iqnnf4i
        ListPrice:
          $ref: '#/components/schemas/Price'
        FinalPrice:
          $ref: '#/components/schemas/Price'
        Resource:
          $ref: '#/components/schemas/Resource'
        Addon:
          $ref: '#/components/schemas/Addon'
  requestBodies: {}
  securitySchemes:
    token:
      name: Authorization
      type: apiKey
      in: header
      description: 'See documentation on authorization: https://builtbybit.com/wiki/api-v2/'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://builtbybit.com/account/external/authorize'
          tokenUrl: 'https://api.builtbybit.com/oauth2/token'
          refreshUrl: 'https://api.builtbybit.com/oauth2/token'
          scopes: {}
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: OAuth2 client credentials in the Basic authorization format.
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: The page number/offset to return items for.
    per_page:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: The number of items per page to return.
    with:
      name: with
      in: query
      required: false
      schema:
        type: string
      description: A comma-separated list of supported 'with hints'. See model & endpoint-level docs for more info.
  responses:
    Error:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                x-stoplight:
                  id: yuhdqyggund1v
                enum:
                  - error
              error:
                type: object
                x-stoplight:
                  id: f84vet5rax17r
                properties:
                  code:
                    type: string
                    x-stoplight:
                      id: y0tck5k6wcwte
                  message:
                    type: string
                    x-stoplight:
                      id: rgueqs4b55t18
  examples: {}
x-internal: false
